<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
<div th:fragment="summaryFragment">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="introductionTextArea">Wstęp</label>
                <textarea class="form-control" th:value="@{/report(reportId=${reportId})}"
                          placeholder="-Krótki opis produktu oraz przebiegu wdrożenia" id="introductionTextArea"
                          rows="5" th:text="${introduction}"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="economicalSummaryTextArea">Podsumowanie ekonomiczne</label>
                <textarea class="form-control" th:value="@{/report(reportId=${reportId})}"
                          placeholder="-Straty materiałowe -Czas poświęcony na przygotowania -Czas produkcji"
                          id="economicalSummaryTextArea" rows="5" th:text="${summary}"></textarea>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="economicalSummaryFileInput">Załączniki</label>
                <input type="file" class="form-control-file" id="economicalSummaryFileInput" multiple="multiple"/>
            </div>
            <div class="row attachment">
                <div th:each="src : ${report.attachmentSrc}" class="mr-2 mb-2">
                <a target="_blank" th:href="${src}">
                    <button class="btn btn-outline-secondary pop-button" type="button" data-content="Załącznik"
                            data-placement="left" data-toggle="popover" data-html="true">
                        <img class="glyph-icon" src="img/glyphicons-63-paperclip.png"/>
                    </button>
                </a>
                <img class="remove-attachment-image" src="img/glyphicons-208-remove.png" />
                </div>
            </div>
            <button class="btn btn-outline-secondary btnSaveSummaryAttachment"
                    th:value="@{/report(reportId=${reportId})}"
                    type="submit">Zapisz załączniki
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="summaryTextArea">Wnioski NPI, określenie statusu wdrożenia</label>
                <textarea class="form-control" th:value="@{/report(reportId=${reportId})}"
                          placeholder="-Status NPI -Plan działania" id="summaryTextArea"
                          rows="5" th:text="${conclusion}"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Inżynier Produktu</span>
                </div>
                <textarea class="form-control" th:value="@{/report(reportId=${reportId})}"
                          placeholder="Inżynier Produktu" id="productEngineerTextArea"
                          rows="1" th:text="${productEngineer}"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Inżynier Procesu</span>
                </div>
                <textarea class="form-control" th:value="@{/report(reportId=${reportId})}"
                          placeholder="Inżynier Procesu" id="processEngineerTextArea"
                          rows="1" th:text="${processEngineer}"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Inżynier Jakości</span>
                </div>
                <textarea class="form-control" th:value="@{/report(reportId=${reportId})}"
                          placeholder="Inżynier Jakości" id="qualityEngineerTextArea"
                          rows="1" th:text="${qualityEngineer}"></textarea>
            </div>
        </div>
    </div>
</div>
</body>
</html>