<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
<div th:fragment="summaryFragment">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="economicalSummaryTextArea">Podsumowanie ekonomiczne</label>
                <textarea class="form-control" th:value="@{/report(reportId=${reportId})}"
                          placeholder="-Straty materiałowe -Czas poświęcony na przygotowania -Czas produkcji"
                          id="economicalSummaryTextArea" rows="5" th:text="${summary}"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="summaryTextArea">Wnioski NPI, określenie statusu wdrożenia</label>
                <textarea class="form-control" th:value="@{/report(reportId=${reportId})}"
                          placeholder="-Status NPI -Plan działania" id="summaryTextArea"
                          rows="5" th:text="${conclusion}"></textarea>
            </div>
        </div>
    </div>
</div>
</body>
</html>